<Layout name="Layout/header_footer" />
<!-- 搜索 -->
<div class="form-div search_form_div">
    <form method="GET" name="search_form">
        <p>
            商品名称：
            <input type="text" name="goods_name" size="30" value="<?php echo I('get.goods_name'); ?>" />
        </p>
        <p>
            主分类的id：
            <input type="text" name="cat_id" size="30" value="<?php echo I('get.cat_id'); ?>" />
        </p>
        <p>
            品牌的id：
            <input type="text" name="brand_id" size="30" value="<?php echo I('get.brand_id'); ?>" />
        </p>
        <p>
            本店价：
            从 <input id="shop_pricefrom" type="text" name="shop_pricefrom" size="15" value="<?php echo I('get.shop_pricefrom'); ?>" /> 
            到 <input id="shop_priceto" type="text" name="shop_priceto" size="15" value="<?php echo I('get.shop_priceto'); ?>" />
        </p>
        <p>
            是否热卖：
            <input type="radio" value="-1" name="is_hot" <?php if(I('get.is_hot', -1) == -1) echo 'checked="checked"'; ?> /> 全部 
                   <input type="radio" value="1" name="is_hot" <?php if(I('get.is_hot', -1) == '1') echo 'checked="checked"'; ?> /> 是 
                   <input type="radio" value="0" name="is_hot" <?php if(I('get.is_hot', -1) == '0') echo 'checked="checked"'; ?> /> 否 
        </p>
        <p>
            是否新品：
            <input type="radio" value="-1" name="is_new" <?php if(I('get.is_new', -1) == -1) echo 'checked="checked"'; ?> /> 全部 
                   <input type="radio" value="1" name="is_new" <?php if(I('get.is_new', -1) == '1') echo 'checked="checked"'; ?> /> 是 
                   <input type="radio" value="0" name="is_new" <?php if(I('get.is_new', -1) == '0') echo 'checked="checked"'; ?> /> 否 
        </p>
        <p>
            是否精品：
            <input type="radio" value="-1" name="is_best" <?php if(I('get.is_best', -1) == -1) echo 'checked="checked"'; ?> /> 全部 
                   <input type="radio" value="1" name="is_best" <?php if(I('get.is_best', -1) == '1') echo 'checked="checked"'; ?> /> 是 
                   <input type="radio" value="0" name="is_best" <?php if(I('get.is_best', -1) == '0') echo 'checked="checked"'; ?> /> 否 
        </p>
        <p>
            是否上架：
            <input type="radio" value="-1" name="is_on_sale" <?php if(I('get.is_on_sale', -1) == -1) echo 'checked="checked"'; ?> /> 全部 
                   <input type="radio" value="1" name="is_on_sale" <?php if(I('get.is_on_sale', -1) == '1') echo 'checked="checked"'; ?> /> 上架 
                   <input type="radio" value="0" name="is_on_sale" <?php if(I('get.is_on_sale', -1) == '0') echo 'checked="checked"'; ?> /> 下架 
        </p>
        <p>
            添加时间：
            <input type="text" name="addtime" size="30" value="<?php echo I('get.addtime'); ?>" />
        </p>
        <p><input type="submit" value=" 搜索 " class="button" /></p>
    </form>
</div>
<!-- 列表 -->
<div class="list-div" id="listDiv">
    <table cellpadding="3" cellspacing="1">
        <tr>
            <th >商品名称</th>
            <th >市场价</th>
            <th >本店价</th>
            <th >logo原图</th>
            <th >是否热卖</th>
            <th >是否新品</th>
            <th >是否精品</th>
            <th >是否上架</th>
            <th >排序数字</th>
            <th >商品数量</th>
            <th width="120">操作</th>
        </tr>
        <?php foreach ($data as $k => $v): ?>            
        <tr class="tron">
            <td><?php echo $v['goods_name']; ?></td>
            <td><?php echo $v['market_price']; ?></td>
            <td><?php echo $v['shop_price']; ?></td>
            <td>{$v['logo']|showImage=100}</td>
            <td><if condition="$v['is_hot'] == '1'">是<else />否</if></td>
            <td><if condition="$v['is_new'] == '1'">是<else />否</if></td>
            <td><if condition="$v['is_best'] == '1'">是<else />否</if></td>
            <td><if condition="$v['is_on_sale'] == '1'">上架<else />下架</if></td>
            <td><?php echo $v['sort_num']; ?></td>
            <td>{$v['goods_number']}</td>
            <td align="center">
                <a href="{:U('storage',array('id'=>$v['id'],'p'=>I('get.p')))}" title="库存量">库存量</a> |
                <a href="{:U('edit',array('id'=>$v['id'],'p'=>I('get.p')))}" title="编辑">编辑</a> |
                <a href="{:U('recycle',array('id'=>$v['id'],'p'=>I('get.p')))}" onclick="return confirm('确定要放入回收站吗？');" title="删除">删除</a> 
            </td>
        </tr>
        <?php endforeach; ?> 
        <?php if(preg_match('/\d/', $page)): ?>  
        <tr><td align="center" nowrap="true" colspan="99" height="30"><?php echo $page; ?></td></tr> 
        <?php endif; ?> 
    </table>
</div>
<script>
</script>